*{
    margin: 0;
    padding: 0;
}
img{
    margin: 10px 20% 0  20%;
    width: 60%;
    height: 400px;
}
h2{
    margin: 50px 35% 10px 40%;
    width: 30%;
    color:#a046be ;
    font-family:fantasy;
}
body{
    background-color: #aad6f1;
    width: 100%; height: 100%;
}
